.inputWrapper {
    display: flex;
    align-items: center;

    padding: 1em 2em;
    padding-top: 1.2em;
    column-gap: 1.5em;

    border-top: 1px solid var(--border-color);
}

.inputWrapper textarea {
    font-size: 2em;
    /*line-height: 2.4em;*/
    flex-grow: 1;

    overflow: hidden;
    resize: none;
    display: inline-table;
}

.inputWrapper textarea.scroll {
    overflow: auto;
    display: block;

    scrollbar-width: thin;
    scrollbar-color: var(--main-color-dark) transparent;
}

.inputWrapper button {
    height: 2.8em;
}

.inputWrapper button:disabled {
    cursor: auto;
}

.textAreaDiv {
    font-size: 2em;
    white-space: pre-wrap;
    word-wrap: break-word;
    position: absolute;
    /*outline: 1px solid white;*/
    left: -9999px;

    visibility: hidden;
    /*left: 0px;*/
    /*bottom: 100px;*/
    flex-grow: 1;
}

.textAreaDiv.scroll {
    font-size: 2em;
    white-space: pre-wrap;
    word-wrap: break-word;
    visibility: hidden;
    position: absolute;
    /*outline: 1px solid white;*/
    /*left: -9999px;*/
    /*left: 0px;*/
    /*bottom: 100px;*/
    flex-grow: 1;
}

.sendButton {
    color: var(--gray);
    width: 2.7em;
    aspect-ratio: 1 / 1;

    transform: scale(0.9);
}

.sendButton.active {
    color: var(--main-color);
    transform: scale(1);
}

.sendButton path {
    fill-opacity: 0.7;

    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.sendButton.active path {
    fill-opacity: 1;
}

/*.inputWrapper svg {*/
/*    width: 2.7em;*/
/*    aspect-ratio: 1 / 1;*/

/*    transform: scale(0.9);*/

/*    -webkit-transition: all 0.2s linear;*/
/*    -moz-transition: all 0.2s linear;*/
/*    -o-transition: all 0.2s linear;*/
/*    transition: all 0.2s linear;*/
/*}*/

/*.inputWrapper svg path {*/
/*    -webkit-transition: all 0.2s linear;*/
/*    -moz-transition: all 0.2s linear;*/
/*    -o-transition: all 0.2s linear;*/
/*    transition: all 0.1s linear;*/
/*}*/

/*.inputWrapper.active svg path {*/
/*    fill: var(--main-color);*/
/*    fill-opacity: 1;*/
/*}*/

/*.inputWrapper.active svg {*/
/*    transform: scale(1);*/
/*}*/

