.potentialChatsWrapper {
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    column-gap: 3em;
    row-gap: 2em;
    /*flex-basis: 15%;*/
    flex-grow: 1;
    padding: 2.4em;
    border-left: 1px solid var(--border-color);

}

.potentialChat {
    display: flex;
    align-items: center;
    column-gap: 1.5em;
    padding: 1em 2em;
    border: 2px solid var(--border-color);
    border-radius: 0.4em;
    /*padding: 1.5em 2em;*/
    /*border-bottom: 1px solid var(--border-color);*/
    /*cursor: pointer;*/
}

.avatarWrapper {
    position: relative;
    width: 8em;
    aspect-ratio: 1 / 1;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
}

.chatMain {
    display: flex;
    flex-direction: column;
    /*flex-grow: 1;*/
    row-gap: 0.5em;
}

.hr {
    flex-grow: 1;
    height: 1px;
    background: var(--border-color);
}

.user {
    font-size: 2.2em;
    font-weight: 500;
    color: white;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: break-spaces;
}

.onlineStatus {
    position: absolute;
    top: 76%;
    left: 66%;
    width: 22%;
    aspect-ratio: 1 / 1;
    background: var(--main-color);
    border-radius: 50%;
    outline: 0.4em solid var(--black);

    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.registerTimeWrapper {
    font-size: 1.6em;
}

.registerTime {
    color: var(--main-color);
}

.writeBtn {
    width: 2.7em;
    color: var(--gray);
}

.writeBtn:hover {
    color: var(--main-color);
}