.authLinksWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1em;

    cursor: pointer;
}

.authLink {
    font-size: 2em;
}

.active {
    color: var(--main-color)
}

.username {
    font-size: 2em;
}

.nonAuthLinksWrapper {
    display: flex;
    align-items: center;
    column-gap: 3rem;
}

.nonAuthLink {
    font-size: 2em;
    padding: 0.3em 0.75em;
}

.userProfileWrapper {
    display: flex;
    justify-content: flex-end;
}

.userProfile {
    display: flex;
    align-items: center;
    column-gap: 1.2em;
}

.avatarWrapper {
    position: relative;
    width: 5em;
    aspect-ratio: 1 / 1;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
}
