.newsWrapper {
    position: relative;
    font-size: 1rem;
    display: flex;
    /*flex-direction: column;*/
    /*justify-content: stretch;*/
    /*align-items: stretch;*/

    /*row-gap: 1em;*/
    flex-basis: 22%;
    flex-shrink: 0;
    padding: 1.4em;

    border-left: 1px solid var(--border-color);

    /* -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear; */
}

.closed.newsWrapper {
    flex-basis: 4.8%;
    padding-inline: 1.5em;
}

.canvas {
    /*max-width: 100%;*/
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    /* display: block; */
    user-select: none;
    border-radius: 0.5em;
    /*height: auto;*/
    /*height: 400px;*/
    /*max-width: 100%;*/
    /*height: 100%;*/
    background: #fffaf0;
}

.closed .canvas {
    background: #888888;
}

.clearBtnWrapper {
    position: absolute;
    width: 3.5em;
    left: 2.5em;
    top: 2.5em;

    color: var(--black);

    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear;
}

.closed .clearBtnWrapper {
    left: 50%;
    transform: translateX(-50%);
}

.clearBtnWrapper:hover {
    color: var(--main-color);
}

.clearBtnWrapper:active {
    color: var(--main-color-dark);
}

.closed .clearBtnWrapper:hover, .closed .clearBtnWrapper:active {
    color: initial;
}