.wrapper {
    position: relative;

    font-size: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: calc(100vh - var(--header-height));
    overflow: hidden;
}

.messages {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    row-gap: 1.5em;
    flex-grow: 1;
    padding: 1.5em 2em;

    scrollbar-width: thin;
    scrollbar-color: var(--main-color-dark) transparent;
}

.messagesWrapper {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
}

/*.messages::-webkit-scrollbar {*/
/*    width: 15px;*/
/*    height: 15px;*/
/*}*/

/*.messages::-webkit-scrollbar-thumb {*/
/*    background: var(--main-color);*/
/*    background-color: #f2bf93;*/
/*    border-radius: 5px;*/

/*}*/

/*.messages::-webkit-scrollbar-button {*/
/*    background-color: #f2bf93;*/
/*}*/

.chatDate {
    position: absolute;
    align-self: center;

    font-size: 1.6em;

    padding: 0.7em;
    background: var(--main-color-dark);
    color: var(--white);

    z-index: 1;

    border-radius: 0.3em;
    transform: translateY(-4em);
    opacity: 0;
    user-select: none;

    -webkit-transition: all 0.4s cubic-bezier(0.65, 1.95, 0.03, 0.82);
    -moz-transition: all 0.4s cubic-bezier(0.65, 1.95, 0.03, 0.82);
    -o-transition: all 0.4s cubic-bezier(0.65, 1.95, 0.03, 0.82);
    transition: all 0.4s cubic-bezier(0.65, 1.95, 0.03, 0.82);
}

.chatDateShow {
    opacity: 1;
    transform: translateY(0);
}

.messageDateWrapper {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
    width: 30%;
}

.messageDateWrapper span {
    height: 1px;
    background: var(--border-color);
}

.messageDateWrapper span:nth-child(1) {
    animation: fade-in-span-left 0.3s ease-in-out forwards;
}

.messageDateWrapper span:nth-child(3) {
    animation: fade-in-span-right 0.3s ease-in-out forwards;
}

.messageDate {
    font-size: 1.6em;

    color: var(--main-color);
    animation: fade-in3 0.3s ease-in-out forwards;
}

.selfMessage, .otherMessage {
    --message-ratio: 1.8;
    position: relative;

    font-size: 1.8em;
    color: var(--white);

    max-width: 40%;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    row-gap: calc(0.5em / var(--message-ratio));
    padding: calc(1.3em / var(--message-ratio)) calc(1.7em / var(--message-ratio));
    background: var(--bg-gray);
    border-radius: calc(1em / var(--message-ratio));
    animation: fade-in3 0.3s ease-in-out forwards;
}

.selfMessage {
    align-self: flex-end;
    column-gap: calc(1.4em / var(--message-ratio));
}

.otherMessage {
    align-self: flex-start;
}

.messageText {
    position: relative;
    word-wrap: break-word;
    hyphens: auto;
}

.messageInfo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    column-gap: calc(0.9em / var(--message-ratio));
}

.selfMessage .messageInfo {
    justify-content: flex-end;
}

.otherMessage .messageInfo {
    justify-content: flex-start;
}

.messageTime {
    font-size: calc(1.4em / var(--message-ratio));
    color: var(--main-color);
}

.unReadMessage {
    background: var(--main-color-dark);
}

@keyframes fade-in {
    0% {
        transform: translateX(-2em);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in2 {
    0% {
        transform: translateX(2em);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in3 {
    0% {
        /*transform: scale(0.95);*/
        transform: translateY(0.5em);
        opacity: 0;
    }
    100% {
        /*transform: scale(1);*/
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-span-left {
    0% {
        /*transform: scale(0.95);*/
        flex-grow: 0;
        transform: translateY(0.5em);
        /*transform: translate(-6.5em, 0.5em);*/
        /*opacity: 0;*/
    }

    /*50% {*/
    /*    opacity: 0;*/
    /*}*/

    100% {
        flex-grow: 1;
        /*transform: scale(1);*/
        /*transform: translateX(0);*/
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-span-right {
    0% {
        /*transform: scale(0.95);*/
        flex-grow: 0;
        transform: translateY(0.5em);
        /*transform: translate(6.5em, 0.5em);*/
        /*opacity: 0;*/
    }

    /*50% {*/
    /*    opacity: 0;*/
    /*}*/

    100% {
        flex-grow: 1;
        /*transform: scale(1);*/
        /*transform: translateX(0);*/
        transform: translateY(0);
        opacity: 1;
    }
}